<!-- Sidebar Start -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="{{ url_for('web.homepage') }}" class="text-nowrap logo-img">
        <img src="{{ url_for('static', filename='images/logos/AQBsNestlogo.svg')}}" alt="" width="150" height="100" />
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        
        <!-- Home -->
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{{ url_for('web.homepage') }}" aria-expanded="false">
            <span>
              <iconify-icon icon="solar:home-smile-bold-duotone" class="fs-6"></iconify-icon>
            </span>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>

        <!-- Tools -->
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
          <span class="hide-menu">Tools</span>
        </li>
		
		

		{% set islamic_categories = [
			{"title": "Quran", "slug": "quran"},
			{"title": "Hadith", "slug": "hadith"},
			{"title": "Fiqh", "slug": "fiqh"},
			{"title": "Arabic", "slug": "arabic"}
		] %}
		
        {% for tool in predefined_tool_list %}
        <li class="sidebar-item">
          <a class="sidebar-link" href="{{ url_for('web.render_tool_details', tool_slug=tool.slug) }}" aria-expanded="false">
            <span>
              <iconify-icon icon="solar:file-text-bold-duotone" class="fs-6"></iconify-icon>
            </span>
            <span class="hide-menu">{{ tool.name }}</span>
          </a>
        </li>
        {% endfor %}

        <!-- Education -->
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
          <span class="hide-menu">Education</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="./jto-training" aria-expanded="false">
            <span>
              <iconify-icon icon="solar:graduate-hat-bold-duotone" class="fs-6"></iconify-icon>
            </span>
            <span class="hide-menu">JTO Training</span>
          </a>
        </li>

        <!-- Islamic -->
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
          <span class="hide-menu">Islamic</span>
        </li>
        {% for category in islamic_categories %}
        <li class="sidebar-item">
          <a class="sidebar-link" href="{{ url_for('web.render_islamic_category_page', category_slug=category.slug) }}" aria-expanded="false">
            <span>
              <iconify-icon icon="solar:book-open-bold-duotone" class="fs-6"></iconify-icon>
            </span>
            <span class="hide-menu">{{ category.title }}</span>
          </a>
        </li>
        {% endfor %}

        <!-- Authentication -->
        <li class="nav-small-cap">
          <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-6"></iconify-icon>
          <span class="hide-menu">Authentication</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="./authentication-login.html" aria-expanded="false">
            <span>
              <iconify-icon icon="solar:login-3-bold-duotone" class="fs-6"></iconify-icon>
            </span>
            <span class="hide-menu">Login</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="./authentication-register.html" aria-expanded="false">
            <span>
              <iconify-icon icon="solar:user-plus-rounded-bold-duotone" class="fs-6"></iconify-icon>
            </span>
            <span class="hide-menu">Register</span>
          </a>
        </li>

        <!-- Extras -->
        <li class="nav-small-cap">
          <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-6"></iconify-icon>
          <span class="hide-menu">Extras</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="./icon-tabler.html" aria-expanded="false">
            <span>
              <iconify-icon icon="solar:sticker-smile-circle-2-bold-duotone" class="fs-6"></iconify-icon>
            </span>
            <span class="hide-menu">Icons</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">
            <span>
              <iconify-icon icon="solar:planet-3-bold-duotone" class="fs-6"></iconify-icon>
            </span>
            <span class="hide-menu">Sample Page</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- Sidebar End -->
